body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}

.top-background-image {
    background-image: url(images/Rohingya.jpg);
    /* width: 1423px; */
    height: 645px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
p {
    text-align: -webkit-center;
}

.text-format {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 151px;
    width: 100%;
    margin: 194px 326px;
    padding: 65px 115px;

}

.link-button {
    text-decoration: none;
    border: 1px solid gray;
    background-image: linear-gradient(tomato, orange);
    border-radius: 17px;
    color: whitesmoke;
    padding: 5px 21px;
}

.section-two {
    width: 737px;
    height: 260px;
    margin: 93px 228px
}

.section-two-color {
    color: rgba(19, 19, 248, 0.976);
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#select {
    border: 1px solid tomato;
    color: tomato;
}

#reform {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 14px 11px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    color: tomato;
}

#footer {

    width: 1193px;
    height: 10px;
    background-color: black;
    margin-left: 0;
    margin-bottom: 0;
    line-height: 0%;
}