body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}

.top-background-image {
    background-image: url(images/Rohingya.jpg);
    /* width: 1423px; */
    height: 645px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
p {
    text-align: -webkit-center;
}

.text-format {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 151px;
    width: 100%;
    margin: 194px 326px;
    padding: 65px 115px;

}

.link-button {
    text-decoration: none;
    border: 1px solid gray;
    background-image: linear-gradient(tomato, orange);
    border-radius: 17px;
    color: whitesmoke;
    padding: 5px 21px;
}

.section-two {
    width: 737px;
    height: 260px;
    margin: 155px 230px;
}

.section-two-color {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#select {
    border: 1px solid tomato;
    color: tomato;
}

#reform {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 14px 11px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    color: tomato;
}

.flex-box {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

}

#Food {
    background: rgba(79, 157, 166, 0.1);

}

#shelter {
    background: rgba(255, 89, 89, 0.1);

}

#education {
    background: #FFF4D6;
}

.one-third-width {

    width: 31%;
    margin: 4px 14px;
    padding: 2%;
    align-items: flex-start;
    box-shadow: none;
    border: none;
}

#height-width {

    width: 500px;
    height: 144px;
    margin: 3px 348px;

}

.flex-content {
    display: flex;
    margin: 105px 118px;
}

.half-width {

    width: 50%;
    margin-left: 20px;
    margin-right: 11px;
    padding: 0px 11px;

}

.button-text {
    width: 184px;
    height: 43px;
    margin-left: 47px;
    margin-right: 219px;
    padding: 0px 11px;
    background-color: tomato;
    padding-left: 0px;
}

.back-box {
    border: none;
    width: 416px;
    height: 84px;
    background: #FFF4D6;
    margin-bottom: 0;
    margin-top: 18px;
}

.button-subscribe {
    margin: 20px 40px;
    border: 1px solid gray;
    display: flex;
    border-radius: 5px
}

#button-background {
    background-color: tomato;
    border: none;
    width: 158px;
    height: 35px;
}

#footer {

    width: 1193px;
    height: 10px;
    background-color: black;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 87px;
    line-height: 0%;
}